<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-4 mx-auto">

      <h2 style="margin-bottom: 5px;">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions d-lg-flex d-block">
          <div class="form-actions w-100">
            <%= f.button :submit, "Sign up", class: "btn btn-signup w-100" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
