
<div class="container-listing">
  <br>
  <h2><strong>Congratulations, your booking has been confirmed!</strong></h2><br>
  <h3><strong>Your trip details</strong></h3><br>

  <strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong>

  <h4><strong><%= @booking.motorbike.name %></strong></h4>
  <p>Location: <%= @booking.motorbike.address %></p>
  <p><%= @booking.motorbike.description %></p>


</div>

<div class="col-12">
  <%= link_to "/", class: "payus" do %>
  <%= image_tag "paymentQrCode.png", height: 200, width: 200, crop: :fill %>
  <% end %>
</div>

<h3>Make Payment</h3>
<p>To make a payment using the QR code, go to the home screen, choose 'Pay and Send' and click on the option to 'Scan QR code'.
Transactions will be processed using a one time password or 'OnThe Go Pin'</p>
