<div class="container-listing" style="width: 80%; margin: auto; margin-top: 30px;">
  <div class="row">
    <div class="col" style="background: rgb(219, 219, 219); margin: 30px; width:80%; border-radius: 7px; box-shadow: 3px 3px 5px grey;">
      <h2 style="margin-top: 20px;"><strong>We've recieved your booking!</strong></h2><br>
      <h3><strong>Your rental details</strong></h3><br>
      <h4><strong><%= @booking.motorbike.make %> , <%= @booking.motorbike.model %></strong></h4>
      <strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong>
      <p>Location: <%= @booking.motorbike.address %></p>
      <p><%= @booking.motorbike.description %></p>
      <p>Total: $<%= @booking.total_price %></p>
    </div>
  </div>
</div>

<div align="middle">
  <div class="map-photo", style="width:200px;height:200px;">
  <%#= image_tag "QrCode.png" %>
  <p>Scan the QR code on your bill, check the payment information, press pay and you are done!</p>
  </div>
</div>

<%= link_to "View all bikes", motorbikes_path, id: "show-page-button", class: "btn btn-outline-info ml-2"%>
