<%= link_to motorbike_path(motorbike), class: "Card" do %>
  <div class="Card__inner ">
    <figure class="Card__img">
      <% if motorbike.photos[0] %>
          <%= cl_image_tag motorbike.photos[0].key, width: 300, height:300, fill: :crop, class: 'lazyload' %>
      <% end %>
    </figure>
    <div class="Card__body">
      <h3 class="Card__name"><%= motorbike.make %> , <%= motorbike.model %></h3>
      <div class="Card__price">$ <%= "#{motorbike.price}" %> / day</div>

      <div class="Card__meta">
        <div class="Card__rating">
          <% motorbike.average_rating.times do %>
            <i class="fas fa-star" style="color: #ffb400;"></i>
          <% end %>
        <!-- <i class="fas fa-heart color-grey-text"></i> -->
        </div>
      </div>
    </div>
  <% end %>
</div>
