<%= link_to motorbike_path(motorbike), class: "Card" do %>
  <div class="Card__inner">
    <figure class="Card__img">
      <% if motorbike.photos[0] %>
          <%= cl_image_tag motorbike.photos[0].key, width: 300, height:300, fill: :crop, class: 'lazyload' %>
      <% end %>
    </figure>
    <div class="Card__body">
      <h3 class="Card__name"><%= motorbike.make %> , <%= motorbike.model %></h3>
      <div class="Card__price">$ <%= "#{motorbike.price}0" %> / day</div>
           <div class="d-flex">
              <% (1..5).to_a.each do |el| %>
                <% if  !motorbike.reviews.empty? %>
                <%#= motorbike.reviews.last.rating %>
                    <% if el <= motorbike.reviews.last.rating %>
                      <i class="fas fa-star" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-star" style="color: #ccc"></i>
                  <% end %>

                <% end %>
              <% end %>
            </div>
          </span>
          <i class="fas fa-heart color-grey-text"></i>
    </div>
  </div>
<% end %>
