<%# TODO: Fix inline styles  %>
<section style="margin-top: 60px;">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Dashbord
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
          <li class="list-group-item">
            <%= link_to 'Edit Profile', edit_user_registration_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Photos', pages_dashboard_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Reviews', pages_dashboard_path  %>
          </li>
          <li class="list-group-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              Log out
            <% end %>
          </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="bookingcards">
          <div>
            <% @bookings.each do |booking| %>
             <div class="card-dashboard">
              <%= cl_image_tag booking.motorbike.photos[0].key%>
              <div class="card-dashboard-infos">
                <h2><%= booking.motorbike.make %></h2>
                <p><%= booking.motorbike.model %></p>
                <p>start date: <%= booking.start_date %>   end date:<%= booking.end_date %></p>
                <% if policy(Review.new(booking: booking)).create? %>
                  <%= link_to 'Add a review', new_booking_review_path(booking)  %>
                <% end %>
              </div>
            </div>
            </div class="col-md-3">

                <%#= render 'shared/card', motorbike: motorbike %>
             </div>
            <% end %>
          </div>
     </div>
    </div>
  </div>
</div>
</section>
