<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-4 mx-auto">

      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions d-lg-flex d-block">
          <div class="form-actions w-100">
          <%= f.button :submit, "Log in", class: "btn btn-login w-100" %>
          </div>
        </div>
      <% end %>


      <%= render "devise/shared/links" %>


    </div>
  </div>
</div>
