<div class="container show-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 col-sm-12">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @motorbike.photos[0].key, height: 300, width: 420, crop: :fill, class: "d-block w-100"  %>
          </div>
          <% @motorbike.photos[1..-1].each do |photo| %>
          <div class="carousel-item">
          <%= cl_image_tag photo.key, height: 300, width: 420, crop: :fill, class: "d-block w-100" %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <h3 class="make-model"><%= @motorbike.make %>, <%= @motorbike.model %></h3>
        <h4><%= @motorbike.year %></h4>
        <p><%= @motorbike.address %></p>
        <p>$<%= @motorbike.price %></p>
        <div style="overflow: auto; width:100%; height:150px;"><p><%= @motorbike.description %></p></div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div id='motorbike-booking-dates' data-unavailable="<%= @motorbike.unavailable_dates.to_json %>">
        <% if current_user.id != @motorbike.user_id  %>
            <%= simple_form_for([@motorbike, @booking]) do |f| %>
              <%= f.input :start_date,label: 'Booking Start Date', as: :string, type: :text %>
              <%= f.input :end_date, label: 'Booking End Date', as: :string, type: :text %>
              <%= f.submit "Book", id: "show-page-button", class: "btn btn-outline-info ml-2" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="show_map">
  <div class="col-lg-12 mx-auto">
    <div  id="map" style="width: 85%; height: 80vh; margin-top: 20px; display: inline-block;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>


<%= link_to "View all bikes", motorbikes_path, id: "show-page-button", class: "btn btn-outline-info ml-2"%>


<% if policy(@motorbike).edit? %>
    <%= link_to "Edit", edit_motorbike_path(@motorbike), id: "show-page-button", class: "btn btn-outline-info ml-2"%>
<% end %>

<% if policy(@motorbike).destroy? %>
    <%= link_to "Delete", motorbike_path(@motorbike), id: "show-page-button", class: "btn btn-outline-info ml-2", method: :delete, data: { confirm: "Are you sure?" }%>
<% end %>


