<h1>Motorbikes#show</h1>
<p>Find me in app/views/motorbikes/show.html.erb</p>

<div>
  <% @motorbike.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

<div>
  <%= @motorbike.name %>
  <%= @motorbike.make %>
  <%= @motorbike.model %>
  <%= @motorbike.year %>
  <%= @motorbike.address %>
  <%= @motorbike.description %>
  <%= @motorbike.price %>
</div>

<div id='motorbike-booking-dates' data-unavailable="<%= @motorbike.unavailable_dates.to_json %>">
    <% if current_user.id != @motorbike.user_id  %>
       <%= simple_form_for([@motorbike, @booking]) do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
           <%= f.submit "Book", class: "btn btn-primary" %>
        <% end %>
    <% end %>
</div>
